<p>response works!</p>
<section>
  <h3>Enter your prompt</h3>
<form (ngSubmit)="sendMessage()">
<div>
  <input type="text" id="request" [(ngModel)]="userInput" name="Type your message..."/>

  <button type="submit">Send Message</button>
</div>
</form>
  <h3>Waste Results</h3>
  <div *ngIf="impact">
    <p>💧Water Used: {{impact.water | number: '1.2-2'}} gallons</p>
    <p>⚡️Electricity Used: {{impact.electricity | number: '1.4-4'}} kWh</p>
    <p>🌎Carbon Used: {{impact.carbon | number: '1.2-2'}} grams</p>
  </div>
</section>


