<section>
  <h3>Enter your prompt</h3>
<form (ngSubmit)="sendMessage()">
<div>
  <input type="text" id="request" [(ngModel)]="userInput" name="Type your message..."/>

  <button type="submit">Send Message</button>
</div>
</form>
  <h3>Waste Results</h3>
  <div *ngIf="impact">
    <p> 􀠒  Water Used: {{impact.water | number: '1.2-2'}} milliliters</p>
    <p> 􀋦 Electricity Used: {{impact.electricity | number: '1.4-4'}} kWh</p>
    <p> 􁒹 Carbon Used: {{impact.carbon | number: '1.2-2'}} grams</p>
    <p> 􀌳 The Response: {{impact.response}}</p>
  </div>

    <h3> 􀵱 Total Impact of Site on Planet</h3>
    <ul>
      <li> 􀠒 Total Water: {{totalImpact.water}}</li>
      <li> 􀋦 Total Electricity: {{totalImpact.electricity}}</li>
      <li> 􁒹 Total Carbon: {{totalImpact.carbon}}</li>
    </ul>
</section>


