h3 {
color: blue;
text-align: center;
}

button {
color: blue;
text-align: center;
}

form {
text-align: center;
}

list {
text-align: center;
}

ul {
text-align:center;
font-weight: bold;
list-style-type: none;
}

h4 {
border-style: solid;
border-width: 1px;
border-color: blue;
}
