<section>
  <img src ="../assets/ecoimpactlogo.png"/>
  <h3>Enter your prompt</h3>
<form (ngSubmit)="sendMessage()">
<div>
  <input type="text" id="request" [(ngModel)]="userInput" name="Type your message..."/>

  <button type="submit">Send Message</button>
</div>
</form>
  <h3>Waste Results</h3>
  <div *ngIf="impact">
    <p> 💧  Water Used: {{impact.water | number: '1.2-2'}} milliliters</p>
    <p> ⚡️ Electricity Used: {{impact.electricity | number: '1.4-4'}} kWh</p>
    <p> 🌎 Carbon Used: {{impact.carbon | number: '1.2-2'}} grams</p>
    <h4> 💬 The Response: {{impact.response}}</h4>
  </div>

    <h3> 🌎 Total Impact of Site on Planet</h3>
  <button (click)="totalImpact()">Get Total Site Waste</button>
    <ul>
      <li> 💧 Total Water: {{AllTotals.waterTotal}}</li>
      <li> ⚡️ Total Electricity: {{AllTotals.electricTotal}}</li>
      <li> 🌎 Total Carbon: {{AllTotals.carbonTotal}}</li>
    </ul>
</section>


